h1{
	color:red;
	margin-top: 1.5em;
}

hr{
	color:green;
}


h2{
	color: brown;
}

body{
	margin: 6cm;
	font-family: Arial, Helvetica, sans-serif;
}


code{
	font-size: 2rem;
	color: pink;
}